<launch>
  <!-- <arg name="map_file" default="$(find rbe_3002)/map/lab3map.yaml" /> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find rbe_3002)/map/lab3map.yaml" output="screen"/>
  <node name="a_star_server" pkg="rbe_3002" type="a_star_server.py" output="screen"/>
  <test test-name="a_star" pkg="rbe_3002" type="test_a_star.py"/>
</launch>
